<p-accordion [multiple]="true">
    <p-accordion-panel *ngFor="let group of appData.groups; let i = index" [value]="i">
        <p-accordion-header>
            <div class="flex justify-content-between align-items-center w-full pr-4">
            <div class="flex align-items-center gap-2">
                <i class="pi" [ngClass]="group.type === 'kugel' ? 'pi-circle' : 'pi-trophy'"></i>
                <span class="ml-2">{{ group.title || 'Neue Gruppe' }}</span>
            </div>
            <p-toggle-switch [(ngModel)]="group.active" (click)="$event.stopPropagation()"></p-toggle-switch>
            </div>
        </p-accordion-header>
        <p-accordion-content class="pl-5">
            <!-- Gruppentyp -->
            <div class="field w-full md:w-5 mb-2">
                <div class="grid w-full align-items-center">
                    <div class="col-3">
                        <label for="type">Typ:</label>
                    </div>
                    <div class="col-9">
                        <p-select
                        class="py-1 leading-none w-full"
                        size="small"
                        [(ngModel)]="group.type"
                        (ngModelChange)="onGroupTypeChanged(group)"
                        [options]="[{label: 'Kugeleis', value: 'kugel'}, {label: 'Eisbecher', value: 'becher'}]"
                        optionLabel="label"
                        optionValue="value"
                        inputId="type"
                        placeholder="Typ wählen">
                        </p-select>
                    </div>
                </div>
            </div>

            <div class="field w-full md:w-5 mb-2">
                <div class="grid w-full">
                <div class="col-3">
                    <label for="column">Name:</label>
                </div>
                <div class="col-9">
                    <input type="text" pInputText [(ngModel)]="group.title" placeholder="Name der Preisgruppe" class="w-full" />
                </div>
                </div>
            </div>

            <div *ngIf="group.type === 'kugel'" class="field w-full md:w-5 mb-2">
                <div class="grid w-full align-items-center">
                    <div class="col-3">
                        <label for="column">Spalte:</label>
                    </div>
                    <div class="col-9">
                        <p-select
                        size="small"
                        class="py-1 leading-none w-full"
                        [(ngModel)]="group.column"
                        [options]="[
                            { label: 'Links', value: 'left' },
                            { label: 'Mitte', value: 'middle' , disabled: !appData.landscapeMode},
                            { label: 'Rechts', value: 'right' }
                        ]"  
                        optionLabel="label"
                        optionValue="value"
                        inputId="column"
                        placeholder="Spalte wählen">
                        </p-select>
                        <small *ngIf="!appData.landscapeMode" class="text-600 block mt-1">
                            „Mitte“ ist nur im Landscape-Modus verfügbar.
                        </small>
                    </div>
                </div>
            </div>

            <div *ngIf="group.type === 'kugel'">

                <!-- Preis pro Kugel -->
                <div class="field w-full md:w-5 mb-2">
                    <div class="grid w-full align-items-center">
                    <div class="col-3">
                        <label for="price">Kugelpreis:</label>
                    </div>
                    <div class="col-9">
                        <p-inputnumber  [(ngModel)]="group.price"
                                        mode="currency"
                                        currency="EUR"
                                        locale="de-DE"
                                        class="w-full" />
                    </div>
                    </div>
                </div>

                <div class="field w-full md:w-5">
                    <label>Artikel:</label>
                </div>

                <div class="field w-full md:w-5 mb-2">
                    <app-article-item *ngFor="let article of group.articles; let j = index"
                        [article]="article"
                        [images]="images"
                        [groupIndex]="i"
                        [articleIndex]="j"
                        (remove)="removeArticle.emit($event)">
                    </app-article-item>
                </div>

                <div class="field w-full md:w-5 mb-2">
                    <button class="col-5" pButton label="Neue Sorte" icon="pi pi-plus" (click)="addArticle.emit(i)"></button>
                </div>
            </div>

            <div *ngIf="group.type === 'becher' && group.articles?.length" class="field w-full md:w-5">

                <div class="grid w-full align-items-center">

                <!-- Preis -->
                <div class="col-3">
                    <label for="price-{{ i }}">Preis:</label>
                </div>
                <div class="col-9">
                    <p-inputnumber [(ngModel)]="group.articles[0].price"
                        [name]="'price-' + i"
                        mode="currency"
                        currency="EUR"
                        locale="de-DE"
                        class="w-full" />
                </div>

                <!-- Bildauswahl -->
                <div class="col-3">
                    <label for="image-{{ i }}">Bild:</label>
                </div>
                <div class="col-9">
                    <p-select
                    [(ngModel)]="group.articles[0].image"
                    [name]="'image-' + i"
                    [options]="images"
                    optionLabel="name"
                    optionValue="file"
                    placeholder="Bild auswählen"
                    class="w-full">
                    <ng-template let-image #item>
                        <div class="flex align-items-center gap-2">
                        <img [src]="image.url" class="w-2rem h-2rem object-cover border-round" />
                        <span class="align-self-center">{{ image.name }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-image #selectedItem>
                        <div class="flex align-items-center gap-2">
                        <img [src]="image.url" class="w-2rem h-2rem object-cover border-round" />
                        <span class="align-self-center">{{ image.name }}</span>
                        </div>
                    </ng-template>
                    </p-select>
                </div>

                <!-- Zutaten -->
                <div class="col-3">
                    <label for="ingredients-{{ i }}">Zutaten:</label>
                </div>
                <div class="col-9">
                    <textarea pInputTextarea 
                            [(ngModel)]="group.articles[0].ingredients" 
                            [name]="'ingredients-' + i" 
                            placeholder="Zutaten (kommasepariert)" 
                            rows="1" 
                            class="w-full">
                    </textarea>
                </div>

                <!-- Select column if two-solum-cups is enabled -->
                <div class="col-3">
                <label for="becher-column-{{ i }}">Spalte:</label>
                </div>
                <div class="col-9">
                <p-select
                    size="small"
                    class="py-1 leading-none w-full"
                    [(ngModel)]="group.column"
                    [options]="[{ label: 'Links', value: 'left' }, { label: 'Rechts', value: 'right' }]"
                    optionLabel="label"
                    optionValue="value"
                    inputId="becher-column-{{ i }}"
                    placeholder="Spalte wählen"
                    [disabled]="!appData.landscapeMode">
                </p-select>
                <small *ngIf="!appData.landscapeMode" class="text-600 block mt-1">
                    Aktiviert sich, wenn Landscape-Modus eingeschaltet ist.
                </small>
                </div>


                </div>
            </div>

            <div class="field w-full md:w-5 mb-2">
                <button class="col-5" pButton icon="pi pi-trash" severity="danger" (click)="deleteGroup.emit(i)">Gruppe löschen</button>
            </div>
        </p-accordion-content>
    </p-accordion-panel>
</p-accordion>


