
<main class="main-content">
  <div class="content-wrapper">

    <div class="column-layout">
      <div class="column">
        <ng-container *ngFor="let group of leftColumnGroups; let i = index; trackBy: trackByTitle">
          <app-price-group
            [title]="group.title"
            [articles]="group.articles"
            [type]="group.type"
            [price]="group.price"
            [active]="group.active"
            [hidePrices]="appData.hidePrices"
            [hideDescriptions]="appData.hideDescription">
          </app-price-group>
        </ng-container>
      </div>
      <div class="column">
        <ng-container *ngFor="let group of rightColumnGroups; let i = index; trackBy: trackByTitle">
          <app-price-group
            [title]="group.title"
            [articles]="group.articles"
            [type]="group.type"
            [price]="group.price"
            [active]="group.active"
            [hidePrices]="appData.hidePrices"
            [hideDescriptions]="appData.hideDescription">
          </app-price-group>
        </ng-container>
      </div>
    </div>

    <div class="becher-block">
      <ng-container *ngFor="let group of becherGroups; trackBy: trackByTitle">
        <app-price-group
          [title]="group.title"
          [articles]="group.articles"
          [type]="group.type"
          [price]="group.price"
          [active]="group.active"
          [hidePrices]="appData.hidePrices">
        </app-price-group>
      </ng-container>
    </div>

  </div>
</main>


