

<div *ngFor="let group of priceGroups; let i = index" class="price-group-editor">
  <input [(ngModel)]="group.title" placeholder="Name der Preisgruppe" />
  <input [(ngModel)]="group.image" placeholder="Bilddatei" />
  <label>
      <input type="checkbox" [(ngModel)]="group.active" />Aktiv
  </label>

  <button (click)="deleteGroup(i)">Gruppe löschen</button>

  <!-- Artikel bearbeiten -->
  <div *ngFor="let item of group.articles; let j = index">
    <div class="item-details">
        <input [(ngModel)]="item.name" placeholder="Artikelname" />
        <input type="number" [(ngModel)]="item.price" placeholder="Preis" />
         <label>
            <input type="checkbox" [(ngModel)]="item.active" />Aktiv
        </label>
        <button class="delete" (click)="removeArticle(i, j)">X</button>
    </div>  
</div>

  <button (click)="addArticle(i)">Neuen Artikel hinzufügen</button>
</div>
<button (click)="addGroup()">Neue Preisgruppe hinzufügen</button>
<button (click)="save()">Speichern</button>