.ql-align-center  { text-align: center !important; }
.ql-align-right   { text-align: right !important; }
.ql-align-justify { text-align: justify !important; }
.ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}
.ql-font-sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}
.ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}